{% extends '_layouts/default.twig' %}

{% block body %}
	<div class="row">
	{% if items %}
		<form action="{{ path('homepage') }}" method="get">
			<div class="col-md-10">
				<div class="form-group">
					<select name="address" id="address" class="form-control">
						<option value="">-- Все --</option>
						{% for address in addresses %}
							<option value="{{ address.address }}"
							        {% if app.request.query.get('address') == address.address %}selected="selected"{% endif %}>{{ address.address }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary btn-block" type="submit">Выбрать</button>
			</div>
		</form>
		</div>
		<div class="row">
		<div class="col-md-12">

			<table class="table table-bordered table-hover">
				<thead>
				<tr>
					<th class="text-center col-md-11">Наименование</th>
					<th class="text-center col-md-1">Количество</th>
				</tr>
				</thead>
				<tbody>
				{% for address, product in items %}
					<tr>
						<td colspan="2">
							<h4>{{ address }}</h4>
						</td>
					</tr>
					{% for product_name, distributors in product %}
						<tr>
							<td>
								<div class="col-md-push-1 col-md-11"><strong>{{ product_name }}</strong></div>
							</td>
							<td class="text-center"><strong>{{ total[address][product_name] }}</strong></td>
						</tr>
						{% for distributor in distributors %}
							<tr>
								<td>
									<div class="col-md-push-2 col-md-10">{{ distributor.name }}</td>
								<td class="text-center">{{ distributor.amount }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		{% include 'AppBundle:Import:alert.html.twig' %}
	{% endif %}
	</div>
{% endblock %}
